<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot" class="footer">
    <footer class="page-footer blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l5 s12">
                    <h5 class="white-text">Event Manager</h5>
                    <p class="grey-text text-lighten-4">
                        Eventsbook enables people to find, share and organize events.
                    </p>
                </div>
                <div class="col l5 offset-l2 s12">
                    <h5 class="white-text">Contacts</h5>
                    <ul>
                        <li>
                            <i class="material-icons tiny">phone</i>
                            <a href="tel:0884440155" class="grey-text text-lighten-3">
                                0884440155
                            </a>
                        </li>
                        <li>
                            <i class="material-icons tiny">email</i>
                            <a href="mailto:kristian.petrov1998@gmail.com" class="grey-text text-lighten-3">
                                kristian.petrov1998@gmail.com
                            </a>
                        </li>
                        <li>
                            <i class="material-icons tiny">search</i>
                            <a class="grey-text text-lighten-3"
                               href="https://www.linkedin.com/in/kristian-petrov-39186a235/">
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © Eventsbook 2024
            </div>
        </div>
    </footer>
</div>
</html>
